.daily-badge {
    background-color:  hsl(227, 47%, 96%);
    width: 220px;
    height: 90px;
    border-radius: 3px;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    .daily-badge-interaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 10px 0;
        .interaction-type {
            margin-bottom: 0PX;
            font-size: 10px;
            font-weight: 700;
            padding-left: 10px;
        }
        .network-img {
            width: 13px;
        }
    }

    .daily-badge-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 0;
        .interaction-number {
            margin-bottom: 0;
            font-size: 30px;
            font-weight: 700;
            color: hsl(230, 17%, 14%);
            margin-left: 10px;
        }
        .interaction-ammount {
            font-size: 11px;
            font-weight: 700;
            margin-bottom: 0;
            .interaction-arrow {
                margin-right: 5px;
                width: 8px;
            }
        }
    }
}

.daily-badge:hover {
    background-color: #E1E3F0;
}

.daily-badge.dark:hover {
    background-color: #333A56;
}
.daily-badge.dark {
    background-color: hsl(228, 28%, 20%);
    .interaction-number {
        color:  hsl(0, 0%, 100%);
    }
}

.interaction-ammount.arrow-up,
.interaction-ammount.arrow-up.dark {
    color: hsl(163, 72%, 41%);
}
.interaction-ammount.arrow-down,
.interaction-ammount.arrow-down.dark {
    color: hsl(356, 69%, 56%);
}