.overlay {
    z-index: 10;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container {
    background: #F8F9FE;
    z-index: 15;
    width: 70%;
    height: 400px;
    position: absolute;
    top: 40px;
    left: 15vw;
    border-radius: 10px;
    padding-left: 15px;
    @media (max-width: 600px) {
        width: 95%;
        height: 400px;
        top: 100px;
        left: 2.5vw;
    }
    .head-section {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        h5 {
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 0;
            color: #000;
        }
        button {
            color: #646465;
            border: none;
            background: none;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .account-section {
        display: flex;
        margin-top: 10px;
        .network-img {
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }
        .acount-txt {
            margin-bottom: 0;
            font-size: 9px;
            font-weight: 700;
        }
    }

    .data-section {
        display: flex;
        align-items: center;
        margin: 20px 0;
        .col-number {
            padding-left: 0;
        }
        .follow-number{
            font-size: 23px;
            margin-bottom: 0;
            font-weight: 700;
            color: #616571;
        }
        .text-description {
            font-size: 8px;
            font-weight: 400;
            color: #616571;
            margin-bottom: 0;
            padding: 0 20px 0 15px;
        }
        .mid-txt {
            width: 94px;
        }
        .update-number {
            font-size: 22px;
            margin-bottom: 0;
            font-weight: 700;
        }
    }

    .chart-section {
        .date-txt {
            font-size: 10px;
            margin-bottom: 0;
            font-weight: 500;
        }
        .chart-cont {
            overflow-x: auto;
            margin-top: 20px;
        }
    }
}

.container.dark {
    background-color: #252B43;
    h5{
        color: #fff;
    }
    .follow-number {
        color: #fff;
    }
    .text-description {
        color: #fff;
        font-weight: 300;
    }
}