.total-bage {
    background-color: hsl(227, 47%, 96%);
    width: 220px;
    height: 180px;
    border-radius: 3px;
    margin: 15px;
    cursor: pointer;
    display: inline-block;
    .total-bage__main-line {
        display: flex;
        justify-content: center;
        padding: 10px;
        .network-img {
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }
        .acount-txt {
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 700;
        }
    }

    .total-bage__number {
        display: flex;
        flex-direction: column;
        align-items: center;
        .big-number {
            font-size: 50px;
            margin-bottom: 0;
            font-weight: 700;
            color: hsl(230, 17%, 14%);
        }
        .number--kind {
            margin-bottom: 0;
            letter-spacing: 3px;
            font-size: 14px;
        }
    }

    .total-bage__update {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .update-number {
            font-size: 10px;
            margin-bottom: 0px;
            font-weight: 700;   
        }
        .update-arrow {
            margin-right: 5px;
                width: 8px;
        }
    }
}
.total-bage:hover {
    background-color: #E1E3F0;
}

.total-bage.dark {
    background-color: hsl(228, 28%, 20%);
    .big-number {
        color: hsl(0, 0%, 100%);
    }
}
.total-bage.dark:hover {
    background-color: #333A56;
}

.total-bage.face-border,
.total-bage.face-border.dark {
    border-top: 4px solid hsl(195, 100%, 50%);
}

.total-bage.twit-border,
.total-bage.twit-border.dark {
    border-top: 4px solid hsl(203, 89%, 53%) ;
}
.total-bage.insta-border,
.total-bage.insta-border.dark {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-top-width: 4px;
    border-image: linear-gradient(
60deg
, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}
.total-bage.yout-border,
.total-bage.yout-border.dark {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.update-number.arrow-up,
.update-number.arrow-up.dark {
    color: hsl(163, 72%, 41%);
}
.update-number.arrow-down,
.update-number.arrow-down.dark {
    color: hsl(356, 69%, 56%);
}